<%#  
  this demo is set up with classes and a label to use the jquery validation plugin
  even though we're not really using it here.
  http://bassistance.de/jquery-plugins/jquery-plugin-validation/
%>
<div class="contact demo-box">
  <h1>contact us</h1>
  <form id="contact-form" enctype="multipart/form-data" method="post" action="/contact/1234" name="contact-form">

    <label for="contact_name">name<small>*</small></label>
    <input id="contact_name" name="contact_name" value="" size="30" class="required" type="text" />
    <label class="error"></label>

    <label for="contact_email">e-mail<small>*</small></label>
    <input id="contact_email" name="contact_email" value="" size="30" class="required email" type="text" />
    <label class="error"></label>

    <label for="contact_subject">subject<small>*</small></label>
    <input id="contact_subject" name="contact_subject" value="" size="30" class="required" type="text" />
    <label class="error"></label>

    <label for="contact_message">message<small>*</small></label>
    <textarea id="contact_message" name="contact_message" rows="10" class="required"></textarea>
    <label class="error"></label>

    <div class="buttons">
      <input name="element_counts" value="4" type="hidden" /> 
      <input name="embed" value="forms" type="hidden" />
      <input value="send" type="submit" />
    </div>
  </form>
</div>
